*{
  text-decoration: none;
  

}
.ul:hover{

  color:aqua;
}
.text{
  margin-left:22vh;
  width: 500px;
  height: 180px;

  margin-top: -16vh;
}
.text:hover{
  color:rgb(246, 241, 248);
  transform: scale(1.1);
  transition: 0.5s;
  border-radius:8px;
  padding:12px;
  background: #00d2ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #928DAB, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #928DAB, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

   box-shadow: 5px 5px 8px blue, 10px 10px 8px red, 15px 15px 8px green;
}
.mg{
  margin-top:10vh;
  margin-left:14vh;
}
.mg:hover{
  color:green;
  transform: scale(1.1);
  transition: 0.5s;
  border-radius:8px;
  padding:12px;
   box-shadow: 5px 5px 8px blue, 10px 10px 8px red, 15px 15px 8px green;
}
.spfy
{
  margin-top:0vh;
  margin-left:15vh;
}
.spfy:hover{
  color:green;
  transform: scale(1.1);
  transition: 0.5s;
  border-radius:8px;
  padding:12px;
   box-shadow: 5px 5px 8px blue, 10px 10px 8px red, 15px 15px 8px green;
}
.woo{
  margin-top:-1vh;
  margin-left:9vh;
}
.woo:hover{
  color:green;
  transform: scale(1.1);
  transition: 0.5s;
  border-radius:8px;
  padding:12px;
   box-shadow: 5px 5px 8px blue, 10px 10px 8px red, 15px 15px 8px green;
}
.wrdp{
  margin-top:10vh;
  margin-left:9vh;
}
.wrdp:hover{
  color:green;
  transform: scale(1.1);
  transition: 0.5s;
  border-radius:8px;
  padding:12px;
   box-shadow: 5px 5px 8px blue, 10px 10px 8px red, 15px 15px 8px green;
}
section{
  bottom: 0;
  margin-bottom: 0;
  padding-bottom: 40vh;
  margin-top: -2.9vh;
  background: #56CCF2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.cd{
  margin-top: 20vh;
  margin-left: 130vh;
  -webkit-transform: scale(1.9);
  background-color: #928DAB;


}
.cd:hover{
  transform: scale(2.1);
  transition: 0.5s;
  border-radius:8px;
  padding:12px;
   box-shadow: 5px 5px 8px blue, 10px 10px 8px red, 15px 15px 8px green;
}
.git{

}
.git:hover{
 transform: scale(10.1);
}
.link{
  display: flex;
  background-repeat: no-repeat;
  flex-direction: row;
  justify-content: space-between;
}
